@charset "UTF-8";
/*COLORS*/
/*Text colors*/
/*Brand colors*/
/*Background colors*/
/*Background cards colors*/
/* GRADIENT TEXT */
/* Gradient Button & visuals */
/* Gradient Icons CARDS */
/* Font Weight */
/* Text Size */
/*Header text*/
h1 {
  color: #1A202C;
  size: 53px;
}

/* Font-weight for headers, accross all pages */
.h_light {
  font-weight: 300;
}

.h_bold {
  font-weight: 800;
}

/* class to remove italic from em*/
em {
  font-style: normal;
}

/* color gradient for font header hero page h1 */
.text_gradient_purple {
  background: linear-gradient(to bottom, #DE4396, rgba(13, 28, 159, 0.3568627451));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient_purple2 {
  background: linear-gradient(to right, #57007B, #6675F7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*paragraphs & others*/
p {
  color: #4A5568;
}

h1, h2, h3, h4 {
  color: #1A202C;
}

/* Size buttons */
/*Border radius button */
/* Buttons */
/* Button card sun */
.button_card_sun {
  border-radius: 5px;
  background-color: linear-gradient(to right, #FFEF5E, #F7936F);
}

/* Button hero page */
/* possible de raffiner */
.button_contact {
  border-radius: 5px;
  background: linear-gradient(to right, #57007B, #6675F7);
  color: #FAFAFA;
  padding: 14px 25px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  width: 124px;
  height: 42px;
  border: none;
  text-decoration: none;
}

.button_started {
  background-color: #3D63EA;
  border-radius: 5px;
  margin: 19px 30px;
  font-size: 14px;
  font-weight: 600;
  color: #FAFAFA;
  padding: 10px;
  width: 175px;
  height: 52px;
  border: none;
  text-decoration: none;
}

/* Social icons buttons shadows, radius*/
.social_icons {
  border-radius: 50%;
  padding: 17px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.111);
  z-index: 0;
}

/* Button nav */
a {
  text-decoration: none;
  color: #4A5568;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
}

body {
  font-family: Inter, sans-serif;
}

/* CARDS - Page 2 - Services */
.card_services:hover {
  border: 1px solid linear-gradient(to bottom, #DE4396, rgba(13, 28, 159, 0.3568627451));
}

/* CARDS - Page */
/* CARDS - Page */
/* CARDS - Page 8 - Our Design and Development Approach*/
.card_design_dev {
  background-color: #FAFAFA;
  border: 1px solid #E7DAED;
}

/* CARDS - Page 11 */
.card_grey_sun {
  display: flex;
  background: linear-gradient(to right, #F1F1F5, #E4ECF7);
  border-radius: 20px;
}

/* Layout header with top line */
.h_line_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* Header */
header {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

nav {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ik_developpers {
  font-family: Inspiration, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.logo_ik_padding {
  padding: 0px 10px;
}

.logo_ik {
  display: flex;
  justify-content: flex-start;
}

.menu {
  display: flex;
  flex-direction: row;
}

.button_right {
  display: flex;
  justify-content: flex-end;
}

/* Nav Bar Layout */
/* Layout */
.hero_text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
}

.hero_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  padding: 100px 300px;
}

.card_services {
  width: 333px;
  height: 287px;
  display: flex;
  flex-direction: column;
  background-color: #FAFBFB;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 50px;
}

.services_icons {
  width: 58px;
  height: 58px;
}

.services_background {
  display: flex;
  justify-content: center;
  background-color: #F9F9FF;
  border: 1px solid #E7DAED;
}

.page_3_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.arrow_button_3 {
  display: flex;
  justify-content: flex-end;
}

.grey_background {
  padding: 50px;
  background-color: #F7F7FA;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #E7DAED;
}

.customer_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 945px;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  opacity: 60%;
}

.imran {
  opacity: 100%;
}

.quote {
  width: 13px;
}

.para_quote_grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 700px;
}

.card_case {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid #E7DAED;
  border-radius: 30px;
}

.case_blue {
  background-color: #F1F2FF;
}

.case_green {
  background-color: #F0FFF7;
}

.case_pink {
  background-color: #FFF4F4;
}

.case_grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

/* Page 7 - Présentation 2 - Way of building greatsoftware */
/*paragraphes with gradient, italic and left border */
.grad_it_leftb {
  font-style: italic;
  color: linear-gradient(to right, #57007B, #6675F7);
  border-left: 3px solid;
  background: linear-gradient(to right, #57007B, #6675F7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
