/*COLORS*/
/*Text colors*/
$text_color_dark_grey :#1A202C;
$text_color_mid_grey: #4A5568;
$text_color_light_grey :#718096;
$text_color_purple : #57007B;

/*Brand colors*/
$brand_color_purple:#57007B;
$brand_color_violet: #6675F7;
$brand_color_salmon: #F7666F;
$brand_color_pink: #F76680;


/*Background colors*/
$bg_color_white: #FFF;
$bg_color_light_purple: #E7DAED;
$bg_color_light_grey :#F7F7FA;
$bg_color_cards :#FAFAFA;
$bg_color_banner_gradient: linear-gradient to right (#F1F1F5,#E4ECF7);

/*Background cards colors*/
$bg_color_pink:#FFF4F4;
$bg_color_card_green:#F0FFF7;
$bg_color_card_blue:#F1F2FF;

/* GRADIENT TEXT */
$gradient_main:linear-gradient(to left, $brand_color_pink,$brand_color_purple);
$gradient_main_pink : linear-gradient(to bottom, #DE4396, #0d1c9f5b);
$gradient_yellow_circle :linear-gradient(to left, #FFEF5E, #F7936F );

/* Gradient Button & visuals */
$gradient_logo : linear-gradient(to right,#E56F8C, #7476ED, #161490 );
$gradient_btn_purple :linear-gradient(to right,#57007B,#6675F7);
$gradient_card_sun :linear-gradient(to right, #F1F1F5, #E4ECF7);

/* Gradient Icons CARDS */
$gradient_icon_black:linear-gradient(to right,#29272E,#27272E);
$gradient_icon_blue:linear-gradient(to right,#509CF5,#68DBF2);
$gradient_icon_pink:linear-gradient(to right,#FF3D9A,#FF92AE);
$gradient_icon_green:linear-gradient(to right,#24E795,#67E9F1);
$gradient_icon_yellow:linear-gradient(to right,#F7936F,#FFEF5E);
$gradient_icon_purple:linear-gradient(to right,#57007B,#F76680);


/*text gradient pink */
.grad_pink {
background:  $gradient_main;
background-clip: text;
-webkit-text-fill-color: transparent;
}