@use "../abstract/colors";
@use "../abstract/fonts";

/* Size buttons */
$size_button_arrows: width 45px, height 45px;
$size_button_social : width 34px, height 34px;


/*Border radius button */
$border_radius_light: 5px;
$border_radius_default: 10px;
$border_radius_cards: 30px;


/* Buttons */
$btn_color_purple : colors.$gradient_btn_purple;
$btn_color_blue : #3D63EA;

/* Button card sun */
.button_card_sun {
    border-radius : $border_radius_light;
    background-color: colors.$gradient_yellow_circle;
}


/* Button hero page */
/* possible de raffiner */
.button_contact {
    border-radius : $border_radius_light;
    background: $btn_color_purple;
    color : colors.$bg_color_cards;
    padding : 14px 25px;
    font-family: Inter;
    font-size: fonts.$text_size_btn_lg;
    font-weight : 600;
    margin: 10px;
    width : 124px;
    height: 42px;
    border: none;
    text-decoration: none;
}

.button_started {
    background-color: #3D63EA;
    border-radius: 5px;
    margin : 19px 30px;
    font-size: fonts.$text_size_btn_lg;
    font-weight : 600;
    color : colors.$bg_color_cards;
    padding : 10px;
    width: 175px;
    height: 52px;
    border: none;
    text-decoration: none;
}


/* Social icons buttons shadows, radius*/
.social_icons {
    border-radius: 50% ;
    padding:17px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.111);
    z-index: 0;
}



/* Button nav */

a {
    text-decoration: none;
    color : colors.$text_color_mid_grey;
    padding : 0px 20px;
    font-weight: 500;
    font-size : fonts.$text_size_h6;
}



body {
    font-family: fonts.$font-stack;
}