@use "../abstract/colors";

/* CARDS - Page 2 - Services */

.card_services:hover {
    border : 1px solid colors.$gradient_main_pink;
}
/* CARDS - Page */



/* CARDS - Page */



/* CARDS - Page 8 - Our Design and Development Approach*/

.card_design_dev {
    background-color: colors.$bg_color_cards;
    border : 1px solid colors.$bg_color_light_purple;
}




/* CARDS - Page 11 */
.card_grey_sun {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background: colors.$gradient_card_sun;
    border-radius : 20px;
    padding: 50px;
    width: 1230px;
    margin-bottom: 100px;
}