
/* Layout header with top line */
.h_line_flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero_text {
    gap: 50px;
}

.page_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-top:75px;
    padding-bottom:75px;
}

.deco_arrow {
    position:absolute;
    top: 3500px;
    left:200px;
}

.deco_arrow_down {
    position:absolute;
    top: 3500px;
    z-index: 5;
    right: 300px;
}

.deco_hero {
    position: absolute;
    top: 795px;
    left: 700px;
    z-index: -1;
}

.deco_lead1 {
    position : relative;
    top:-40px;
    left: 275px;
    z-index: -1;
}

.deco_lead2{
    position : relative;
    z-index: -1;
    top: 50px;
    left: 950px;
}
