@use "../abstract/colors";
@use "../abstract/fonts";
@use "../components/buttons";
@use "../components/cards";
@use "../components/others";


.customer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width : 945px;
}

.customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    opacity: 60%;
    gap : 10px;
}

.imran {
    opacity:100%
}

.quote {
    width : 13px;
}

.quote_down {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
}

.para_quote_grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width : 700px;
}

.para_quote_center {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.page_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 30px;
    padding-bottom:50px;
}

.size_16px {
    font-size: 16px;
}

.size_18px {
    font-size : 18px;
}

.size_12px {
    font-size: 12px;
}

.size_14px {
    font-size:14px;
}