@use "../abstract/colors";
@use "../abstract/fonts";
@use "../components/buttons";
@use "../components/cards";
@use "../components/others";

.page_3_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    padding:100px;
}

.arrow_button_3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text_page_3 {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: baseline;
    gap:15px;
    width: 400px;
    padding:100px;
    padding-left: 200px;
}

.footer_page_3 {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: baseline;
    gap:15px;
    width: 400px;
    padding:100px;
    padding-left: 200px;
}
