@use "../abstract/colors";
@use "../abstract/fonts";
@use "../components/buttons";
@use "../components/cards";
@use "../components/others";

.page_6 {
    background-color: colors.$bg_color_light_grey;
    border-top: 1px solid colors.$bg_color_light_purple;
    border-bottom: 1px solid colors.$bg_color_light_purple;
    padding-bottom:50px;
}

.card_case {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid colors.$bg_color_light_purple;
    border-radius:30px;
    width:600px;
}

.case_grid {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr ;
    gap: 20px;
    padding:20px;
}

.case_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: -150px;
    padding-bottom: 25px;
}


/* case background colors */
.case_study {
    width: 600px;
    height: 214px;
    padding: 100px;
    gap: 30px;
    border-radius :  0px 15px 15px 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid colors.$bg_color_light_purple;
    position:relative;
    left:-10px;
    z-index: 0;
    border-radius: 0px 30px 30px 0px;;
}

.study_link {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}

.case_blue {
    background-color: colors.$bg_color_card_blue; 
}

.case_green {
    background-color: colors.$bg_color_card_green;
}

.case_pink {
    background-color: colors.$bg_color_pink;
}

.size_28px {
    font-size: 28px;
}

.img_case_zindex {
    z-index: 1;
}

.read_position {
    position:relative;
    right:220px;
}
