@use "../abstract/colors";
@use "../abstract/fonts";
@use "../components/buttons";
@use "../components/cards";
@use "../components/others";


/* Page 7 - Présentation 2 - Way of building greatsoftware */

/*paragraphes with gradient, italic and left border */
.grad_it_leftb {
    font-style: italic;
    color : colors.$gradient_btn_purple;
    border-left : 3px solid;
    background: colors.$gradient_btn_purple;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad_purple {
    color : colors.$gradient_btn_purple;
    background: colors.$gradient_btn_purple;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    color : colors.$text_color_light_grey;
    font-size: 13px;
}

.name {
    color : colors.$text_color_dark_grey;
    font-size: 16px;
}

.text_team {
    display:flex;
    flex-direction: column;
    gap:20px;
    padding: 75px;
    width : 500;
}


.building {
    display:grid;
    grid-template-columns: 2fr;
    grid-template-rows: 400px;
    width : 80%;
    gap: 50px;
    padding : 50px;
}

.team_row {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding : 50px;
}

.reverse {
    flex-direction: row-reverse;
}

.page_7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}