@use "../abstract/colors";
@use "../abstract/fonts";
@use "../components/buttons";
@use "../components/cards";
@use "../components/others";


.grey_background {
    padding : 50px 0px;
    background-color: colors.$bg_color_light_grey;
    display:flex;
    justify-content: space-between;
    border : 1px solid colors.$bg_color_light_purple
}