@use "../abstract/colors";
@use "../abstract/fonts";
@use "../components/buttons";
@use "../components/cards";
@use "../components/others";

.page_3_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    padding:100px;
}

.arrow_button_3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position:relative;
    left : 600px;
    top: 150px;
}

.text_page_3 {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: baseline;
    gap:15px;
    width: 500px;
    padding:100px;
    padding-left: 200px;
}

.footer_page_3 {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: baseline;
    gap:15px;
    width: 400px;
    padding:100px;
    padding-left: 200px;
}

.row_arrow {
    display:flex;
    align-items: center;
}

.page_3_row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.img_page3 {
    position:relative;
    top: 100px;
}